/*--Fonts--*/
@import url('https://fonts.googleapis.com/css?family=Century Gothic');
@import url('https://fonts.googleapis.com/css?family=Oswald');

/*--reset style--*/
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x:hidden;
}

/*--home--*/
#home {
    background-color: black;
}

/*--Navigation Bar--*/

#navbar_left {
    display: inline-block;
    position: fixed;
    top: 100px;
    margin:0;
    padding:0;
    background-color: white;
    vertical-align: middle;
    margin-bottom:0;
    padding-top:0;
    z-index:3;
}

#logo {
    top: 100px;
    height: 70px;
    padding-left: 50px;
    padding right: 10px;
}

#navbar_background {
    position: fixed;
    right: 0px;
    height: 30px;
    width: 100%;
    background-color: black;
    font-family: Oswald, sans-serif;
    margin-bottom:0;
    padding-top:0;
    z-index:3;
}

#navbar_right {
    display: inline-block;
    position: fixed;
    right: 0px;
    font-size: 20px;
    letter-spacing: 0.4px;
    font-family: Oswald, sans-serif;
    margin-bottom:0;
    margin-top:0;
    padding-top:0;
    z-index:3;
}

#navbar_right ul {
    padding: 0px;
    margin: 0px;
    opacity: 1;
}

#navbar_right li {
    display: inline-block;
    text-align: center;
    padding: 7px 12px;
    margin-top:0;
    padding-top:0;
}

#navbar_right a {
    color: #dfc12a;
    font-size: 1em;
    text-decoration: none;
}

#navbar_right a:hover{
    color: white;
    cursor: pointer;
}

#navbar_right a.active{
    color: white;
}

/*----------------Products Page----------------*/
#products{
    height: 100%;
    width: 100%;
    display: table;
    top: 0px;
    margin: auto;
    padding:0;
    background-color: #000;
    background-size: cover;
    margin-bottom:0;
    padding-top:0;
    z-index:1;    
}

/*--product_menu--*/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Oswald, sans-serif; 
}

#product_menu{
    background: white;
    width: 250px;
    margin: 50px auto 0px 40px;
    position: fixed;
    box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.6), 0 0 200px 1px rgba(255, 255, 255, 0.5);
}

#product_menu h1{
    font-size: 25px;
	line-height: 40px;
	padding: 0 10px;
	cursor: pointer;
	background: linear-gradient(#dfc12a, #d7b927);
    color: #fff;
    text-decoration: none;
    
} 

#product_menu h1:hover{
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.7)
}

#product_menu li {
	list-style-type: none;
}

#product_menu ul ul li a {
	color: #000;
	text-decoration: none;
	font-size: 20px;
	line-height: 40px;
	display: block;
	padding: 0 15px;
    transition: all 0.15s;
}

#product_menu ul ul li a:hover {
    background: #003545;
	border-left: 5px solid lightgreen;
    color: white;
}

#product_menu ul ul{
    display: none;
}

#product_menu li.active ul{
    display: block;
}

/*----------------Products Gallery----------------*/
.gallery {
    margin-left: 30%;
    margin-top: 170px;
    display: grid;
    grid-template-columns: 250px 250px  250px;
    padding: 3px;
  
}

.gallery a {
  text-decoration: none;
}

.gallery .item_image{
  display: block;
  position: relative;
}

.gallery img {
    width: 100%;
    height: auto;
    border:3px solid white;
}

.cover {
  position: absolute;
  bottom: 10px; 
  width: 100%;
  height: 90px;
  color: rgba(255,255,255,0);
  transition: all 0.3s linear;

}

.gallery a:hover .cover {
  background-color: rgba(0,0,0,.8);
  color: rgba(255,255,255,1);
  transition: all .25s linear;
}

.gallery p {
  font-size: 1em;
  margin:0;
  margin-left: 10px;
  padding: 0;
}

/*----------------Contact Form----------------*/
#contactform {
    margin-top: 200px;
    margin-left: 40%;
    color: white;
}
/*----------------Footer----------------*/
#footer {
    position: fixed;
    top:96vh;
    width:100%;
    height: 30px;
    bottom:0;
    font-size: 15px;
    background: black;
    font-family: Oswald, sans-serif;
    margin:0;
    padding:0;
    z-index:2;
    color: #dfc12a;
    text-align: center;
    
}

#footer ul {
    padding: 0px;
    margin:0px;
}

#footer li {
    display: inline-block;
    text-align: center;
    margin-top: 0px;
    padding: 0px 20px;
    letter-spacing: 0.8px;
}

#footer a {
    color: #dfc12a;
    font-size: 1em;
    text-decoration: none;
}

#footer a:hover{
    color: white;
}

#footer a.active{
    color: white;
}
#footer img{
    width: 60%;
    height: 70%;
    display: inline-block;
}

/*--login modal--*/
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 72.5%;
    top: 10%;
    width: 20%; /* Full width */
    height: 25%; /* Full height */
    background-color: #fefefe;
    padding-top: 20px;
    border: solid #dfc12a 4px;
    border-radius: 9px;
}

/* close Button */
.close {
    position: absolute;
    right: 5px;
    top:0;
    margin:0;
    padding:0;
    color: black;
    font-size: 35px;
    font-weight: bold;
}

.close:hover {
    color: red;
    cursor: pointer;
}

.forgotpsw {
    font-size:15px;
}

