/*--Fonts--*/
@import url('https://fonts.googleapis.com/css?family=Century Gothic');
@import url('https://fonts.googleapis.com/css?family=Oswald');

/*--reset style--*/
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/*----------Welcome Page----------*/
.intro{
    min-height: 100%;
    width: 100%;
    margin: auto;
    background: url("../img/background_images/welcomebackground.jpg") no-repeat 50% 70%;
    display: table;
    top: 0;
    background-size: cover;
}

.intro .inner{
    display: table-cell;
    padding-top: 15%; 
    width: 100%;
    max-width: none;
}

.intro_content{
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
}

.intro_content h1{
    font-family: 'Century Gothic', sans-serif;
    color: #dfc12a;
    text-shadow: 0px 0px 300px #000;
    font-size: 200%;
    padding-left: 8%;
}

.inner .enter_button{
    border-radius: 9px;
    font-family: 'Oswald', sans-serif;
    color: #000;
    font-size: 135%;
    padding: 10px 20px;
    border: solid #000 3px; 
    text-transform: uppercase;
    text-decoration: none;
}

.enter_button:hover{
    color: #dfc12a;
    border: solid #dfc12a 3px;
}

#welcome_socialmedia{
    padding: 30px;
}

.facebook{
    border: solid #dfc12a 3px;
    border-radius: 7px;
    border-spacing: 50px;
}

.facebook:hover{
     border: solid #000 3px;
}
.instagram{
    border: solid #dfc12a 3px;
    border-radius: 7px;
    border-spacing: 50px;
}

.instagram:hover{
     border: solid #000 3px;
}

@media screen and (max-width:768px){
    .intro_content h1{
        font-size: 200%;
        padding: 0% 30%;
    }
    .enter_button{
        font-size: 110%;
        padding: 7px 15px;
    }
    #welcome_socialmedia{
        padding: 30px;
    }
}
/*--home--*/
#home {
    background-color: black;
}
#homeSlide {
    height: 100vh;
    width: 100%;
    display: table;
    top: 0px;
    margin: auto;
    background: url(../img/home_slideshow/workman.jpg) 50% 70% no-repeat;
    background-size: cover;
    margin-bottom:0;
    padding-top:0;
    background-color: black;
    position:fixed;
    z-index:1;
}

/*--Navigation Bar--*/

#logo {
    display: inline-block;
    position: fixed;
    top: 100px;
    height: 70px;
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 85px;
    vertical-align: middle;
    margin-bottom:0;
    padding-top:0;
    z-index:3;
}

#navbar_right {
    position: fixed;
    right: 21px;
    top: 20px;
    font-size: 20px;
    letter-spacing: 0.4px;
    background: white;
    opacity:0.75;
    font-family: Oswald, sans-serif;
    margin-bottom:0;
    padding-top:0;
    z-index:3;
}

#navbar_right ul {
    padding: 0px;
    margin: 0px;
}

#navbar_right li {
    display: inline-block;
    text-align: center;
    padding: 7px 12px;
}

#navbar_right a {
    color: rgb(0, 0, 0);
    font-size: 1em;
    text-decoration: none;
}

#navbar_right a:hover{
    color: #dfc12a;
    cursor: pointer;
}

#navbar_right a.active{
    color: #dfc12a;
}

/*--home content--*/
#homecontent{
    top:100vh;
    height: 100vh;
    width: 100%;
    background-color: black;
    color:#dfc12a;
    margin-top:0;
    padding-top:0;
    position:absolute;
    z-index:2;
}

/*--home left categories--*/
#home_left {
    text-align: left;
    width:40%;
    margin-top:0;
    padding-top:0;
    font-family: Oswald, sans-serif;
    font-size: 35px;
}
#home_left ul {
    padding-left: 30px;
    margin-left: 30px;
}

#home_left li {
    list-style-type:none;
    margin-left:30px;
    text-align: left;
    padding: 2px 12px;
}

#home_left a {
    color: #dfc12a;
    font-size: 1em;
    text-decoration: none;
}

#home_left a:hover{
    color:white;
}

#home_left a.active{
    color:white;
}
/*--Scroll Arrows on Home Page--*/
#scroll_home a{
    position: absolute;
	bottom: 1px;
	left: 48%;
	z-index: 2;
	display: inline-block;
	transform: translate(0, -10%);
	color: #fff;
	font : normal 400 20px/1 'Century Gothic', sans-serif;
	letter-spacing: .1em;
	text-decoration: none;
	transition: opacity .3s;
}

#scroll_home a:hover {
	opacity: .5;
}


#home_right a{
    position: absolute;
	bottom: 1px;
	left: 48%;
	z-index: 2;
	display: inline-block;
	transform: translate(0, -10%);
	color: #fff;
	font : normal 400 20px/1 'Century Gothic', sans-serif;
	letter-spacing: .1em;
	text-decoration: none;
	transition: opacity .3s;
}

#home_right a:hover {
	opacity: .5;
}
/*-Scroll Down-*/
#scroll_home a {
	padding-top: 50px;
}
#scroll_home a span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 46px;
	height: 46px;
	margin-left: -23px;
	border: 1px solid #fff;
	border-radius: 100%;
	box-sizing: border-box;
}
#scroll_home a span::after {
	position: absolute;
	top: 50%;
	left: 50%;
	content: '';
	width: 16px;
	height: 16px;
	margin: -12px 0 0 -8px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	box-sizing: border-box;
}

/*-Scroll Up-*/
#home_right a {
	padding-top: 50px;
}
#home_right a span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 46px;
	height: 46px;
	margin-left: -23px;
	border: 1px solid #fff;
	border-radius: 100%;
	box-sizing: border-box;
}
#home_right a span::after {
	position: absolute;
	top: 50%;
	left: 50%;
	content: '';
	width: 16px;
	height: 16px;
	margin: -5px 0 0 -8px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
	box-sizing: border-box;
}

/*------------------About Page------------------*/

#company {
    height: 100vh;
    width: 100%;
    display: table;
    top: 0px;
    margin: auto;
    background-color: #dfc12a;
    background: url(../img/background_images/gold.jpeg) 50% 70% no-repeat; /*Source = https://www.freecreatives.com/backgrounds/gold-background.html*/
    background-size: cover;
    margin-bottom:0;
    padding-top:0;
    position:fixed;
    z-index:1;
}
#founder{
    top:100vh;
    height: 100vh;
    width: 100%;
    background-color: black;
    color:#dfc12a;
    margin-top:0;
    padding-top:0;
    position:absolute;
    z-index:2;
}

#about-content h1{
    font-family: 'Century Gothic', sans-serif;
    font-size: 380%;
    padding-top: 15%;
    text-align: center;
}

#about-content #company p{
    text-align: center;
    padding: 0 10%;
    font-size: 20px;
    
}

#about-content #founder p{
    text-align: center;
    padding: 0 10%;
    font-size: 20px;
    color: #fff;
}

/*--Scroll Arrows on About Page--*/
#about-content a{
    position: absolute;
	bottom: 1px;
	left: 48%;
	z-index: 2;
	display: inline-block;
	transform: translate(0, -10%);
	color: #fff;
	font : normal 400 20px/1 'Century Gothic', sans-serif;
	letter-spacing: .1em;
	text-decoration: none;
	transition: opacity .3s;
}

#about-content a:hover {
	opacity: .5;
}
/*-Scroll Down-*/
#company a {
	padding-top: 50px;
}
#company a span {
	position: absolute;
	top: 0;
	left: 45%;
	width: 46px;
	height: 46px;
	margin-left: -23px;
	border: 1px solid #fff;
	border-radius: 100%;
	box-sizing: border-box;
}
#company a span::after {
	position: absolute;
	top: 50%;
	left: 50%;
	content: '';
	width: 16px;
	height: 16px;
	margin: -12px 0 0 -8px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	box-sizing: border-box;
}
/*-Scroll Up-*/
#founder a {
	padding-top: 50px;
}
#founder a span {
	position: absolute;
	top: 0;
	left: 45%;
	width: 46px;
	height: 46px;
	margin-left: -23px;
	border: 1px solid #fff;
	border-radius: 100%;
	box-sizing: border-box;
}
#founder a span::after {
	position: absolute;
	top: 50%;
	left: 50%;
	content: '';
	width: 16px;
	height: 16px;
	margin: -5px 0 0 -8px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
	box-sizing: border-box;
}



/*----------------Footer----------------*/
#footer {
    position: absolute;
    top:193vh;
    right: 21px;
    font-size: 20px;
    letter-spacing: 0.4px;
    background: white;
    opacity:0.75;
    font-family: Oswald, sans-serif;
    margin:0;
    padding:0;
    z-index:2;
    
}

#footer ul {
    padding: 0px;
    margin: 0px; 
}

#footer li {
    display: inline-block;
    text-align: center;
    padding: 7px 5px;
}

#footer a {
    color: rgb(0, 0, 0);
    font-size: 1em;
    text-decoration: none;
}

#footer a:hover{
    color: #dfc12a;
}

#footer a.active{
    color: #dfc12a;
}
#footer img{
    width: 60%;
    height 70%;
    display: inline-block;
}

/*--login modal--*/
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 72.5%;
    top: 10%;
    width: 20%; /* Full width */
    height: 15%; /* Full height */
    background-color: #fefefe;
    padding-top: 20px;
    border: solid #dfc12a 4px;
    border-radius: 9px;
}

/* close Button */
.close {
    position: absolute;
    right: 5px;
    top:0;
    margin:0;
    padding:0;
    color: black;
    font-size: 35px;
    font-weight: bold;
}

.close:hover {
    color: red;
    cursor: pointer;
}

.forgotpsw {
    font-size:15px;
}